/* ======== ESTILO GLOBAL ======== */
body {
  background-color: rgba(0, 0, 0);
  overflow-x: hidden;
}

h1 {
  color: white;
}

.logo {
  height: 60px;
}

.navegador {
  color: white;
  margin-left: auto;
  font-family: "msyi";
  font-weight: bold;
  position: fixed;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background: transparent;
}

.imgStyle {
  display: block;
  max-width: 100%;
  filter: blur(2px);
  height: 100vh;
  object-fit: cover;
}

.text {
  color: #e6eaf0;
}

.textoFoto {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
}

.text2 {
  background-color: rgb(4, 7, 13);
  margin-right: 5px;
  text-align: center;
}

.cardColor {
  background-color: rgb(2, 24, 60);
  color: white;
}

.aboutText {
  font-family: "BebasNeue";
  display: grid;
  text-align: center;
  margin-top: 610px;
  font-size: xx-large;
  color: rgb(231, 234, 234);
}

.seta {
  margin-bottom: 500px;
}

.wingTitle {
  font-family: "BebasNeue";
  font-size: xx-large;
  text-align: left;
}

.wingText {
  margin-top: 30px;
  font-family: "msyi";
  font-size: x-large;
  text-align: left;
  color: white;
}

.img-right {
  float: right;
  width: 900px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.home {
  display: flex;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}

.abstand {
  margin-top: 100px;
}

.span1 {
  font-size: x-large;
  font-family: "msyi";
  margin-top: 0px;
}

footer {
  width: 100%;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 100px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 100px;
  border-left: 1px solid rgba(100, 94, 94, 0.77);
  padding: 0 20px;
}

li:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}

.foot {
  margin-top: 10px;
  font-family: "BebasNeue";
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.pFooter {
  font-family: "msyi";
  font-size: x-large;
}

.pFooter2 {
  font-family: "msyi";
  font-size: medium;
}

.span2 {
  margin-left: 20px;
  margin-right: 20px;
}

.simbolos {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 16px;
}

.a1 {
  color: inherit;
  text-decoration: none;
}

.a2:hover {
  color: #1a0ef8;
}

.portImg {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
}

.gif {
  font-size: 5px;
}

/* ======== FONTES ======== */
@font-face {
  font-family: "BebasNeue";
  src: url("./fontes/BebasNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "msyi";
  src: url("./fonteS/msyi.woff2") format("woff2");
}

/* ======== RESPONSIVO ======== */
@media (max-width: 768px) {

  /* Imagens */
  .portImg, .img-right, .card-img-top {
      width: 100%;
      height: auto;
      max-height: 600px;
      object-fit: cover;
  }

  /* Textos */
  .wingTitle { font-size: 20px; text-align: center; }
  .wingText, .pFooter { font-size: 14px; text-align: center; }
  .aboutText { font-size: 18px; }
  .span1 { font-size: 16px; }

  /* Colunas e cards */
  .col, .cardColor {
      width: 100% !important;
      float: none !important;
      margin: 0 auto 20px auto;
      text-align: center;
  }

  .row { display: block; }

  /* Menu */
  nav.nav a {
      display: block;
      margin: 10px 0;
      text-align: center;
  }

  /* Footer */
  footer {
      margin: 50px 10px;
      padding: 10px;
  }

  ul {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  li {
      display: block;
      margin: 10px 0;
      border-left: none;
      padding: 0;
  }

  .text2 {
      margin-right: 0;
  }
}
